* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root {
    --fondo: #060120;
    --texto: #b3b3b3;
    --titulo: #ffffff;
    --border: #14143b;
    --shadow: 0 12px 24px rgba(68, 56, 175, 0.562);
}

body {
    font-family: Georgia,
        'Times New Roman', Times, serif;
    background: var(--fondo);
    color: var(--titulo);
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background: rgba(41, 38, 184, 0.192);
    border-bottom: 5px solid var(--border);

}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand-icon {
    width: 32px;
    height: 32px;
    background: var(--border);
    border-radius: 50%;
    color: var(--titulo);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.brand-tittle {
    font-weight: 700;
}

.brand.subtitle {
    color: var(--texto);
    font-size: 0.9rem;
}